---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Prevent author profile from fading */
.author__urls-wrapper {
  opacity: 1 !important;
  transition: none !important;
}

.author__avatar,
.author__content {
  opacity: 1 !important;
  transition: none !important;
}